[Unit]
Description=Mergerfs service for /mnt/public
RequiresMountsFor=/mnt/disks/SG_BARR_8TB_01 
RequiresMountsFor=/mnt/disks/SG_BARR_8TB_02
RequiresMountsFor=/mnt/disks/WD_RED_4TB_01
RequiresMountsFor=/mnt/disks/WD_RED_4TB_02
RequiresMountsFor=/mnt/disks/WD_RED_8TB_01

[Service]
Type=simple
KillMode=none
ExecStart=/usr/bin/mergerfs \
  -f \
  -o cache.files=auto-full,dropcacheonclose=true,category.create=mspmfs,allow_other,fsname=mergerfs \
  /mnt/disks/*/@public \
  /mnt/public
ExecStop=/bin/fusermount -uz /mnt/public
Restart=on-failure

[Install]
WantedBy=default.target
